# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
*.egg

# VSCode
.vscode/
*.code-workspace

# Linux
*~
*.swp
*.swo
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js
dist/
build/
.cache/
*.log